{% extends 'base.html' %}
{% block titulo %} CURRICULUM VITAE {% endblock %}
{% load static %}
{% block contenido %} 
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{%static 'MM1.ico'%}" type="imagenes/ico" />
	<link rel="stylesheet" type="text/css" href="CVitae.css">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Belleza&display=swap" rel="stylesheet">
	<title> CURRICULUM VITAE </title>
</head>
<body style=" background-color: #FFFFFF;">
<div>
	<img src="{%static 'image.jpg'%}" alt="foto de perfil" id="mifoto" aling="left" width="150" height="200" tittle="foto de perfil"> 
	<h2 aling="center"> Essui Dayaan Espejel Aguilar </h2>
	<p aling="center"> Dirección: Cerrada Guadalupe Victoria No. 197, Col. Benio Juárez Barrón, Nicolás Romero </p>
	<p aling="center">Email: essuidespejel@gmail.com</p>
	<p aling="center">Telefono: 55 1955 9182</p>
</br> </br> </br>
</br> </br> </br>

<fieldset>
<legend>Datos Personales</legend>
<ul>
<li><b>Nacionalidad: &nbsp; </b> Mexicano</li>
<li><b>Fecha de Nacimiento: &nbsp; </b> 26/03/2004</li>
<li><b>Lugar de Nacimiento: &nbsp; </b> Edo. Mex. México</li>
<li><b>Estado civil: &nbsp; </b> Soltera</li>
<li><b>CURP: &nbsp; </b> EEAE040326MMCSGSA3</li>
</ul>
</fieldset>

<fieldset>
<legend>Aptitudes</legend>
<ul>
<li><b>Empatía &nbsp; </b></li>
<li><b>Trabajo en equipo &nbsp; </b></li>
<li><b>Liderazgo &nbsp; </b></li>
<li><b>Priorización de tareas &nbsp; </b></li>
<li><b>Excelente comunicación oral y escrita &nbsp; </b></li>
<li><b>Versatilidad &nbsp; </b></li>
<li><b>Resolución de tareas &nbsp; </b></li>
</ul>
</fieldset>

<fieldset>
<legend>Sobre mí</legend>
<p> Apasionada del marketing, administración y desarrollo de proyectos, me defino por ser una persona con ganas de aprender y un gran líder de equipos multidisciplinares. </p><br><br>

<legend>Experiencia laboral</legend>
<ul>
<li><b>Auxiliar administrativo &nbsp; </b></li>
<li><b>Actualización y gestión de base de datos &nbsp; </b></li>
<li><b>Colaboración de tareas administrativas propias del departamento &nbsp; </b></li>
<li><b>Archivo y organización eficaz de documentos físicos digitales &nbsp; </b></li>
</ul>

<legend>Datos académicos</legend>
<ul>
<b>Título de Bachillerato &nbsp; </b></li><br>
<b>Técnico en Programación 2021 &nbsp; </b></li><br>
<b>CECYTEM Plantel Nicolás Romero I- Estado de México &nbsp; </b></li><br><br>
<b>Ingeniero en Desarrollo de Software &nbsp; </b></li><br>
<b>Universidad Tecnológica Fidel Velazquez- Estado de México, México &nbsp; </b></li>
<li><b>Actualmente cursandola &nbsp; </b></li><br><br><br>
</ul>
</fieldset>

<fieldset>
<legend>Habilidades</legend>
<ul>
<li><b>Buena comunicación &nbsp; </b></li>
<li><b>Gestión de grandes equipos &nbsp; </b></li>
<li><b>Resolución de problemas &nbsp; </b></li>
<li><b>Dominio del paquete Office &nbsp; </b></li>
<li><b>Agilidad con los resultados &nbsp; </b></li>
</ul>
</fieldset>

<fieldset>
<legend>Habilidades Técnicas y Profesioneles</legend>
<ul>
<li><b>Conocimiento y trabajo con lenguajes de programación &nbsp; </b></li>
<li><b>Uso de software en plataformas cruzadas &nbsp; </b></li>
<li><b>Desarrollo de páginas web y aplicaciones&nbsp; </b></li>
<li><b>Conocimiento de estructuras y algoritmos de datos &nbsp; </b></li>
<li><b>Uso de editores de texto &nbsp; </b></li>
<li><b>Dominio de sistemas operativos &nbsp; </b></li>
</ul>
</fieldset>

<fieldset>
<legend>Idiomas</legend>
<ul>
<li><b>Español (México) &nbsp; </b></li>
<b>Nativo &nbsp; </b>
<li><b>Inglés &nbsp; </b></li>
<b>Nivel intermedio &nbsp; </b>
</ul>
</fieldset>
</div>

</body>
</html>

<style>
    body{
		background-color: #FFFFFF;
	}
</style>
{% endblock %}